<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Games main page</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../views/games.js"></script>
  <script type="text/javascript" src="../models/games_model.js"></script>
  <script type="text/javascript" src="../models/game_model.js"></script>
</head>
<body>
  <ul id="games-list"></ul>
  
</body>
</html>