<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update game page</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../views/game_details.js"></script>
  <script type="text/javascript" src="../models/game_model.js"></script>
</head>
<body>
  Title: <input type="text" id="title_update"><br>
  Description: <input type="text" id="description_update"><br>
  Release date: <input type="text" id="release_update"><br>
  Genre: <input type="text" id="genre_update"><br>
  Publisher: <input type="text" id="publisher_update"><br>
  
</body>
</html>